h2 {
  margin: 20px 0 0 20px;
  letter-spacing: 3px;
}

.OnlyMovies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 600px) {
  h2 {
    text-align: center;
    font-size: 18px;
  }
}
